.faqContainer{
    /* background-color: #ffffff; */
    height: 100vh;
    width: 100vw;
    /* background: url('../../images/2.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

}   
a{
    text-decoration: none;
    color: black;
}

.faqHeading{
    font-size: 25px;
    font-weight: 600;
    color: rgb(145, 145, 149);
    position: relative;
    width: 25rem;
    padding-top:10rem;
    margin: 0 50%;
    transform: translate(-50%);

}
.faq{
    font-size: 60px;
    font-weight: 650;
    color: rgb(5, 5, 5);
}
.faqSubHeading{
    font-size: 15px;
    color: rgb(145, 145, 149);
    position: relative;
    width: 25rem;
    margin: 0 50%;
    transform: translate(-50%);
}

.textScroller{
    display: flex;
    position: absolute;
    margin: 5rem 50%;
    transform: translate(-50%);
    gap: 2rem;
}
.side-arrow{
    padding: 0.2rem;
    font-size: 30px;
    height: 3rem;
    position: relative;
    margin-top:10% ;
}
.side-arrow:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: default;
}

.faqCardDetails{
    padding: 1.5rem 1rem;
    font-size: 15px;
    width: 12rem;
    font-weight: 550;
    height: 15rem;
    color: rgb(145, 145, 149);
    text-align: center;
}
.faqCardDetails>a{
    font-size: 15px;
    font-weight: 650;
    color: rgb(133, 133, 247);
}
.cardHeading{
    color: rgb(139, 136, 136);
    font-size: 20px;
    font-weight: 650;
    margin: 0.5rem 0;
}

.faqFooter{
    position: absolute;
    width: 100vw;
    bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.faqFooterNav{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width : 450px) {
    .faqHeading{
        font-size: 15px;
        position: relative;
    width: 70%;
    padding-top:10rem;
    margin: 0 55%;
    transform: translate(-50%);
    }
    .faqSubHeading{
        font-size: 12px;
        color: rgb(145, 145, 149);
        position: relative;
        width: 95%;
        margin: 0 55%;
        transform: translate(-50%);
    }
    .faq{
        font-size: 40px;
    }
    .side-arrow{
        display: none;
    }
    .textScroller{
        flex-direction: column;
        position: absolute;
    margin: 2rem 50%;
    transform: translate(-50%);
    gap: 1rem;
    }
    .faqCardDetails{
        padding: 1rem 0.5rem;
        font-size: 15px;
        width: 12rem;
        font-weight: 550;
        height: auto;
        color: rgb(145, 145, 149);
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .faqFooter{
        display: none;
    }
}