.blur-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../images/userDashboardBg.jpg');
        filter: blur(5px);
        opacity: 20px;
        z-index: -1;
}