.festlogo{
    margin-left: -3.5rem;
   }

.uture{
    font-size: 6rem;
    height: 35%;
}

.o-shape{
    left: -6rem;
    bottom: 1.3rem;
    width: 11rem;
    height: 5.6rem;
}

.rge{
    font-size: 6rem;
    padding-left: 5rem;
}

.text-container{
    gap: 3rem;
}

.festlogo-container{
 padding-top: 1.2rem;
}

   @media (max-width:430px) {
     .festlogo{
       height: 250px;
       margin-left: 0;
     }

     .future-logo{
        height: 150px;
     }

     .uture{
        font-size: 4rem;
     }

     .o-shape{
        left: -3rem;
        width: 8rem;
        height: 4.3rem;
        bottom: 0.5rem;
     }

     .rge{
        font-size: 4rem;
     }

     .text-container{
        gap: 1rem;
     }

     .festlogo-container{
      padding-top: 5rem;
     }

   }
