.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #03001417;
  z-index: 50;
  padding: 0 2.5rem;
  border-bottom: whitesmoke;
}
/* 
.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: whitesmoke;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
} */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 10px;
}

.link {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.title {
  font-weight: 700;
  margin-left: 10px;
  display: block;
  color: rgb(209, 213, 219);
}


