.arambh_container{
    margin-top: 10rem;
    text-align: center;
}
.arambh_container>h1{
  font-size: 4rem;
  color: #90E0EF;
}
.arambh_container>p{
  padding: 5px 10rem;
  font-size: 1.5rem; 
}
.arambhCard{
    clip-path: polygon(12% 0, 35% 0,40% 15%, 90% 15%, 100% 35%, 100% 80%, 90% 100%, 10% 100%, 5% 85%, 5% 20%);
    /* border: 1px solid blue; */
    width:75vw;
    height: 50vh;
    padding: 3rem 5rem;
    margin: 5rem 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    background-color: #90e0ef34;
}

.arambh__button {
    font-size: 1.3em;
    width: 7rem;
    padding: 0.5rem 1rem;
    margin-right: 12px;
    border-radius: 7px;
    background: linear-gradient(to right, #00b4d8, transparent);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
  }
  
  .arambh__button:active {
    transform: scale(0.9);
  }

  .specialCard{
    display: grid;
    place-items: center;
    min-width: none;
    min-height: 100vh;
    height: 30%;
    h2 {
      font-weight: 400;
      margin: 2rem 0 0.25rem 0;
    }
    
    h1 {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      opacity: 0.5;
      margin: 0;
    }
    
    p {
      margin: 0;
    }
    
    figure {
      width: 500px;
      aspect-ratio: 8 / 5;
      --bg: hsl(200 40% calc(30% - (var(--hover) * 10%)));
      --accent: hsl(217, 97%, 35%);
      transition: background 0.2s;
      background:
        radial-gradient(circle at top left, var(--accent), transparent 75%),
        var(--bg);
      margin: 0;
      position: relative;
      overflow: hidden;
      border-radius: 1.5rem;
    }
    
    figure:after {
      content: "";
      position: absolute;
      width: 20%;
      aspect-ratio: 1;
      border-radius: 50%;
      bottom: 0%;
      left: 10%;
      background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
      filter: blur(25px);
      transform:
        translateX(calc(var(--hover) * 15%))
        scale(calc(1 + (var(--hover) * 0.2)));
      transition: transform 0.2s, background 0.2s;
    }
    
    img {
      position: absolute;
      left: 15%;
      top: -27%;
      width: 80%;
      transform:
        translateX(calc(var(--hover) * -15%))
        scale(calc(1 + (var(--hover) * 0.2)));
      transition: transform 0.2s;
    }
    
    article {
      --hover: 0;
    }
    
    article:hover {
      --hover: 1;
    }
  }


  @media screen and (max-width : 450px) {

    .arambhCard{
      height: 20rem;
      width: 16rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      padding: 0 1rem;
      font-size: 0.9rem;
      border-radius: 1rem;
    }

    .arambhCard>h1{
      padding: 0;
    }

    .arambh_container>h1{
      font-size: 2.5rem;
    }

    .arambh_container>p{
      padding: 5px 1rem;
      font-size: 1.2rem; 
    }

    /* .domain_description{
      padding: 5px 0rem;
      font-size: 1.1rem;
      white-space: nowrap;
    } */
    
  }