@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Nova Square", sans-serif;

}

body {
  margin: 0;
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #030014; */
  overflow-x: hidden;
}

body ::-webkit-scrollbar{
  display: none;
}

code {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* @import url('./assets/Armata-Regular.ttf'); */

/* @font-face {
  font-family: "Armata";
  src: url("./../public/Armata-Regular.ttf") format("truetype");
} */